.title {
    background-color: rgb(15, 158, 15);
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
}
.botones {
    background-color: rgb(15, 158, 15);
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    border: 2px solid #000000;
    padding: 10px 20px;
    border-radius: 100px;         /* Bordes redondeados (opcional) */
}
.lineabotones {
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
}
.ul {
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
}
.content {
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
}