<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo de actividades en C.C.C.S.E.L</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sanchez:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</head>
<body class="body">
    <div class="title">
        <h1>Catalogo de actividades en C.C.C.S.E.L</h1>
    </div>
    <div class="activities">
        <h2>Actividades</h2>
        <ul>
            <li>Talleres de prevención de adicciones</li>
            <li>Charlas informativas sobre el juego responsable</li>
            <li>Grupos de apoyo para personas afectadas por adicciones</li>
            <li>Actividades recreativas y deportivas</li>
            <li>Campañas de concienciación en colegios y comunidades</li>
        </ul>
        </div>
        </div>
    <div class="lineabotones">
    <a href="../index.html" class="botones">Volver al inicio</a>
    </div>
</body>
</html>