<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sanchez:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="title">
        <h1>C.C.C.S.E.L</h1>
    </div>
    <p>En C.C.C.S.E.L nos dedicamos a la prevención y tratamiento de adicciones, así como a la promoción del juego responsable.</p>
    <p>Nuestro objetivo es ayudar a las personas afectadas y sus familias, ofreciendo recursos y apoyo.</p>
    <p>Realizamos talleres, charlas y actividades para concienciar sobre los riesgos de las adicciones.</p>
    <div class="lineabotones">
        <a href="dedicamos.html" class="botones">A que nos dedicamos?</a>
        <a href="quiensomos.html" class="botones">Quienes somos?</a>
        <a href="../index.html" class="botones">Volver al inicio</a>
    </div>
    
</body>
</html>