<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes somos?</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sanchez:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
   <div class="title">
        <h1>¿Quiénes somos?</h1>
    </div>
    <p>Somos un grupo de personas comprometidas con la lucha contra las adicciones y el juego responsable.</p>
    <p>Nuestro objetivo es ayudar a quienes lo necesiten y promover la concienciación sobre estos temas.</p>
    </div> 
    <div class="lineabotones">
            <a href="../index.html" class="botones">Volver al inicio</a>
    </div>
</body>
</html>